*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
/*  Hola */
html{

    overflow-y: hidden;
    background-image: url("/imagen/fondos/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    
    }

body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.container_log{

    margin-top: 3%;
    width: 48vh;
    height: auto;
    border-radius: 30px;
    border: 1px solid #3c3d3c;
    backdrop-filter: blur(5px);

}

.form_log{

    width: 40vh;

}

.color{

    color: #fff;

}