*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
/*  Hola */
html{

    
    background-image: url("/imagen/fondos/register.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    
    }

html::-webkit-scrollbar{
    
    background: transparent;
    width: 10px;
    
}

html::-webkit-scrollbar-thumb{
    
    background-color: #3c3d3c;
    border-radius: 30px;
    margin: 2px;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}


.container_reg{

    margin: 2%;
    width: 48vh;
    height: auto;
    border-radius: 30px;
    border: 1px solid #3c3d3c;
    backdrop-filter: blur(5px);

}


.color{

    color: #fff;

}